<style>
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    header ul{
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    header img{
        height: 40px;
        width: 150px;
    }
</style>


<header>
    <img src="https://illinsky.com/img/illinsk-logo.svg" alt=""/>
    <ul>
        <li>
            <a href="#">О комплексе</a>
        </li>
        <li>
            <a href="#">Преимущества</a>
        </li><li>
            <a href="#">Купить квартиру</a>
        </li><li>
            <a href="#">Комерческая недвижимость</a>
        </li><li>
            <a href="#">Условия покупки</a>
        </li>
        <li>
            <a href="#">Новости</a>
        </li>
        <li>
            <a href="#">Контакты</a>
        </li>
    </ul>
    <div>
        <p>+38 (044)344-06-93</p>
    </div>
    <select>
        <option selected value="ru">RU</option>
        <option value="ua">UA</option>
    </select>
</header>
